.projet-card {
    box-sizing: border-box;
    width: 50%;
    margin: 100px auto;
    padding: 10px 30px;
    box-shadow: rgb(175, 211, 226) 4px 4px 20px;
    background-color: #B71375;
    color:#F6F1F1;
    display: flex;
    align-items: center;
}

.contenu {
    flex:1;
    h2 {
        margin-bottom: 0;
    }
    p {
        font-weight: 300;
        font-size: 16px;
    }
}

.image {
    margin-left: 10px;
}
  
.image img {
    max-width: 100%;
    height: auto; 
}